.documentation pre.code {
    margin: 0;
    color: #008000;
}

.documentation code {
    color: #008000;
    font-size: 1rem;
}

.markdown pre {
    overflow: scroll;
    background-color: #1d1f21;
    font-family: Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;
    color: #c5c8c6;
    padding: 8px;
}
