{% extends "base.html" %}

{% block title %}Authorisation{% endblock %}

{% block content %}
<h1 class="jupiter">Authorisation</h1>

<h2 class="saturn">Authentication</h2>

<p>The Address Index API requires authentication credentials, currently JWT tokens and IP whitelists.</p>

<p>To use the general-purpose API you need a whitelisted IP (ONS network already whitelisted) and a JWT token.</p>

<p>To use the bulk service from inside DAP, you need special API key for the CA Gateway.</p>

<p>JWT requires the setting of the Authorization header to "Bearer " + token string. </p>

{% endblock %}
