{% extends "base.html" %}

{% block title %}Authorisation{% endblock %}

{% block content %}
<h1 class="jupiter">Authorisation</h1>

<h2 class="saturn">Authentication</h2>

<p>The Address Index API requires authentication credentials, currently the open test site has basic auth and other sites have JWT tokens and IP whitelists.</p>

<p>A username and password for basic auth will have been given to you by the AIMS support team.</p>

<p>Basic authentication requires the setting of the Authorization header to "Basic " + base64 encoded username and password. </p>

<p>One way to encode the username and password is via the F12 console in your browser: my_auth_string = "Basic " + window.btoa('YOUR_USERNAME:YOUR_PASSWORD')</p>

<p>Alternatively, many web frameworks allow the username and password to be passed as parameters when making the API call.</p>

<p>JWT requires the setting of the Authorization header to "Bearer " + token string. </p>

<h2 class="saturn">Example</h2>

<h3 class="neptune">HTTP Basic Authentication</h3>



<p>curl -XGET -u my_auth_string: <br>
    {{ host }}/addresses/uprn/10012133622</p>

<p>GET /addresses/uprn/10012133622 HTTP/1.1<br>
Host: https://initial-test-open-api.aims.gcp.onsdigital.uk<br>
Authorization: Basic bXldfdGGGG67BpX2eTo=</p>

{% endblock %}
