{% extends "base.html" %}

{% block title %}Endpoint: {{ endpoint }}{% endblock %}

{% block content %}

<h1 class="jupiter">{{ endpoint }}</h1>

{% if swagger_json.paths[endpoint]["post"] %}

    <p>{{ swagger_json.paths[endpoint]["post"]["summary"] }}</p>

    <h2 class="saturn">Request</h2>

    <p class="documentation"><code>POST {{ endpoint }}</code></p>

    {% if swagger_json.paths[endpoint]["post"]["parameters"] %}

    <h3 class="neptune">Query parameters</h3>

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell">Parameter name</th>
        <th scope="col" class="table--header--cell">Value</th>
        <th scope="col" class="table--header--cell">Description</th>
        <th scope="col" class="table--header--cell">Additional</th>
        </thead>
        <tbody>

        {% for singleParameter in swagger_json.paths[endpoint]["post"]["parameters"] %}
        {% if singleParameter.in == "query" %}
        <tr class="table--row">
            <td class="table--cell">{{ singleParameter.name }}</td>
            <td class="table--cell">{{ singleParameter.schema.type }}</td>
            <td class="table--cell">{{ singleParameter.description }}</td>
            <td class="table--cell">
                {% if singleParameter.required == False %}Optional{% else %}Required{% endif %}
                {% if singleParameter.schema.default or singleParameter.schema.default == False %}<br>Default: {{ singleParameter.schema.default }}{% endif %}
                {% if singleParameter.schema.maximum or singleParameter.schema.maximum == False %}<br>Maximum: {{ singleParameter.schema.maximum }}{% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% endif %}

    <h2 class="saturn">Responses</h2>

    {% for responseCode, responseValue in swagger_json.paths[endpoint]["post"]["responses"].items() %}
        <h3 class="neptune">{{responseCode}}</h3>
        <p>{{responseValue["description"]}}</p>
    {% endfor %}

    <h2 class="saturn">CURL example</h2>

    <div class="markdown">
        <pre><code>curl -uYOUR_APIKEY_FOLLOWED_BY_A_COLON: #API_URL#{{ endpoint }}</code></pre>
    </div>

    <h2 class="saturn">Explore this endpoint</h2>

    <div class="panel panel--simple panel--info panel--spacious" style="margin: 0 0 20px 0;">
        <div class="panel__body">
            <h2 class="venus">Data limitations - the Exeter subset</h2>
            <p>This open version of the Address Index API Developers site runs against a subset of AddressBase, namely the Exeter free sample. As a result only addresses within the Exeter subset can be searched and returned by the 'Explore this endpoint' function.</p>
            <p>To aid usage of the 'Explore the endpoint' functions, a <a href="{{url_for('sample_queries')}}">sample queries</a> page has been provided as a starting point.</p>
        </div>
    </div>


    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}

        {% if swagger_json.paths[endpoint]["post"]["parameters"] %}

        <table class="table">
            <tbody>
            <tr class="table--row">
                <td class="table--cell">Body query</td>
                <td class="table--cell">{{ form.bodyquery(cols="60", rows="8", class_="input input--textarea js-charlimit-input", maxlength_="5000") }}</td>
                <td class="table--cell">Body query, in JSON format</td>
            </tr>
            {% for singleParameterPost in swagger_json.paths[endpoint]["post"]["parameters"] %}
            <tr class="table--row">
                <td class="table--cell">{{ singleParameterPost.name }}</td>
                <td class="table--cell"><input name="{{ singleParameterPost.name }}" class="input input--text" id="{{ singleParameterPost.name }}" type="text" {% if singleParameterPost.schema.default or singleParameterPost.schema.default == 0 %}value="{{ singleParameterPost.schema.default }}"{% else %} value="" {%endif%}></td>
                <td class="table--cell">{{ singleParameterPost.description }}</td>
            </tr>
            {% endfor %}
            <tr class="table--row">
                <td class="table--cell" colspan="3">{{ form.submit(class_='btn') }}</td>
            </tr>
            </tbody>
        </table>

        {% else %}

        {{ form.submit(class_='btn') }}

        {% endif %}

    </form>

    {% if results %}

    <div class="markdown">
        <pre><code>{{ results }}</code></pre>
    </div>

    {% endif %}


{% else %}

    <p>{{ swagger_json.paths[endpoint]["get"]["summary"] }}</p>

    <h2 class="saturn">Request</h2>

    <p class="documentation"><code>GET {{ endpoint }}</code></p>

    {% if swagger_json.paths[endpoint]["get"]["parameters"] %}

    <h3 class="neptune">Query parameters</h3>

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell">Parameter name</th>
        <th scope="col" class="table--header--cell">Value</th>
        <th scope="col" class="table--header--cell">Description</th>
        <th scope="col" class="table--header--cell">Additional</th>
        </thead>
        <tbody>

        {% for singleParameter in swagger_json.paths[endpoint]["get"]["parameters"] %}
        {% if singleParameter.in == "query" %}
        <tr class="table--row">
            <td class="table--cell">{{ singleParameter.name }}</td>
            <td class="table--cell">{{ singleParameter.schema.type }}</td>
            <td class="table--cell">{{ singleParameter.description }}</td>
            <td class="table--cell">
                {% if singleParameter.required == False %}Optional{% else %}Required{% endif %}
                {% if singleParameter.schema.default or singleParameter.schema.default == False %}<br>Default: {{ singleParameter.schema.default }}{% endif %}
                {% if singleParameter.schema.maximum or singleParameter.schema.maximum == False %}<br>Maximum: {{ singleParameter.schema.maximum }}{% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% endif %}

    <h2 class="saturn">Responses</h2>

    {% for responseCode, responseValue in swagger_json.paths[endpoint]["get"]["responses"].items() %}
        <h3 class="neptune">{{responseCode}}</h3>
        <p>{{responseValue["description"]}}</p>
    {% endfor %}

    <h2 class="saturn">CURL example</h2>

    <div class="markdown">
        <pre><code>curl -uYOUR_APIKEY_FOLLOWED_BY_A_COLON: #API_URL#{{ endpoint }}</code></pre>
    </div>

    <h2 class="saturn">Explore this endpoint</h2>

    <div class="panel panel--simple panel--info panel--spacious" style="margin: 0 0 20px 0;">
        <div class="panel__body">
            <h2 class="venus">Data limitations - the Exeter subset</h2>
            <p>This open version of the Address Index API Developers site runs against a subset of AddressBase, namely the Exeter free sample. As a result only addresses within the Exeter subset can be searched and returned by the 'Explore this endpoint' function.</p>
            <p>To aid usage of the 'Explore the endpoint' functions, a <a href="{{url_for('sample_queries')}}">sample queries</a> page has been provided as a starting point.</p>
        </div>
    </div>

    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}

        {% if swagger_json.paths[endpoint]["get"]["parameters"] %}

        <table class="table">
            <tbody>
            {% for singleParameter in swagger_json.paths[endpoint]["get"]["parameters"] %}
            <tr class="table--row">
                <td class="table--cell">{{ singleParameter.name }}</td>
                <td class="table--cell"><input name="{{ singleParameter.name }}" class="input input--text" id="{{ singleParameter.name }}" type="text" {% if singleParameter.schema.default or singleParameter.schema.default == 0 %}value="{{ singleParameter.schema.default }}"{% else %} value="" {%endif%}></td>
                <td class="table--cell">{{ singleParameter.description }}</td>
            </tr>
            {% endfor %}
            <tr class="table--row">
                <td class="table--cell" colspan="3">{{ form.submit(class_='btn') }}</td>
            </tr>
            </tbody>
        </table>

        {% else %}

        {{ form.submit(class_='btn') }}

        {% endif %}

    </form>

    {% if results %}

    <div class="markdown">
        <pre><code>{{ results }}</code></pre>
    </div>

    {% endif %}

{% endif %}


{% endblock %}

