{% extends "base.html" %}

{% block title %}Endpoints{% endblock %}

{% block content %}

<h1 class="jupiter">Endpoints</h1>

<p>{{ swagger_json.info.description }}</p>

<div class="documentation">

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell">Method</th>
        <th scope="col" class="table--header--cell">Endpoint</th>
        <th scope="col" class="table--header--cell">Description</th>
        </thead>
        <tbody>

        {% for endpoint_entry, endpoint_entry_text in swagger_json.paths.items()|sort() %}

        <tr class="table--row">
            <td class="table--cell">{% if endpoint_entry_text["post"] %}POST{% elif endpoint_entry_text["get"] %}GET{% endif %}</td>
            <td class="table--cell"><a href="{{url_for('endpoints', endpoint_path=endpoint_entry.lstrip('/')) }}">{{ endpoint_entry }}</a></td>
            <td class="table--cell">
                {% if endpoint_entry_text["post"] %}
                {{ endpoint_entry_text["post"]["summary"] }}
                {% elif endpoint_entry_text["get"] %}
                {{ endpoint_entry_text["get"]["summary"] }}
                {% endif %}
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

</div>


{% endblock %}

