{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="jupiter">Address Index API</h1>

<h2 class="saturn">Beta release</h2>

<p>The ONS Address Index API (also known as AIMS - Address Index Matching Service) has been in beta for some time but is undergoing acceptance into service to become a fully live product.</p>

<p>Part of this service will include user support mechanisms to replace the old mailbox and slack channel.</p>

<p>A new version of the service (AIMS2) has just started development, but in the meantime improvements are still being made to AIMS1 including a new user UI and a bulk manager application.</p>

<h2 class="saturn">Getting started</h2>

<p>If you are new to the Address Index API, we recommend you take a look at the getting started guide, with the resources and examples provided there to help you.</p>

<h2 class="saturn">API reference</h2>

<h3 class="neptune">Single Match</h3>

<table class="table documentation">
    <thead class="table--head">
    <th scope="col" class="table--header--cell">Method</th>
    <th scope="col" class="table--header--cell">HTTP Request</th>
    <th scope="col" class="table--header--cell">Description</th>
    </thead>
    <tbody>

    <tr class="table--row">
        <td class="table--cell"><a href="{{ url_for('endpoints', endpoint_path='addresses') }}">Address Search</a></td>
        <td class="table--cell"><pre class="code">GET /addresses</pre></td>
        <td class="table--cell">Search for addresses</td>
    </tr>
    <tr class="table--row">
        <td class="table--cell"><a href="{{ url_for('endpoints', endpoint_path='addresses/uprn/{uprn}') }}">UPRN Search</a></td>
        <td class="table--cell"><pre class="code">GET /addresses/uprn</pre></td>
        <td class="table--cell">Search for address by UPRN</td>
    </tr>
    <tr class="table--row">
        <td class="table--cell"><a href="{{ url_for('endpoints', endpoint_path='addresses/postcode/{postcode}') }}">Postcode Search</a></td>
        <td class="table--cell"><pre class="code">GET /addresses/postcode</pre></td>
        <td class="table--cell">Search for addresses by postcode</td>
    </tr>
    <tr class="table--row">
        <td class="table--cell"><a href="{{ url_for('endpoints', endpoint_path='addresses/partial') }}">Partial Search</a></td>
        <td class="table--cell"><pre class="code">GET /addresses/partial</pre></td>
        <td class="table--cell">Search for addresses by partial search term</td>
    </tr>

    </tbody>
</table>

<p>For full documentation regarding these resource URIs, see the <a href="{{ url_for('endpoint_lists') }}">Explore the API</a> page.</p>

{% endblock %}
