{% extends "base.html" %}

{% block title %}Runnable Demos{% endblock %}

{% block content %}

<h1 class="jupiter">Runnable Demos</h1>

<div class="panel panel--simple panel--info panel--spacious" style="margin: 0 0 20px 0;">
    <div class="panel__body">
        <h2 class="venus">Data limitations - the Exeter subset</h2>
        <p>These demos are configured to use the free sample AddressBase dataset which only covers Exeter</p>
    </div>
</div>

<h2 class="saturn">Radius Map</h2>

<p>Search for business addresses on a Leaflet map <a href="{{ url_for('demos', path='radius.html') }}">Leaflet map</a> </p>


{% endblock %}