{% extends "base.html" %}

{% block title %}Timeline of Updates{% endblock %}

{% block content %}

<h1 class="jupiter">Timeline of Updates</h1>

<h2 class="saturn">Recent Updates</h2>

<h3 class="neptune">25 March 2019</h3>
<ul>
    <li>Update to use Address Base Epoch 64</li>
</ul>

<h3 class="neptune">14 March 2019</h3>
<ul>
    <li>Launch of new Epoch parameter, allowing switch been available epochs. Service defaults to the most recent epoch.</li>
    <li>Release of the new 'random' endpoint, which returns random addresses from the service</li>
    <li>Removal of the previously depreciated endpoints</li>
</ul>

<h3 class="neptune">20 December 2018</h3>
<ul>
    <li>Update to use Address Base Epoch 61</li>
</ul>

<h3 class="neptune">9 November 2018</h3>

<ul>
    <li>Addition of 5 revised endpoints: '/addresses/partial', '/sources', '/classifications', '/logicalstatuses' and '/sources'</li>
    <li>Deprecation of 5 existing endpoints: '/addresses/partial/{uprn}', '/codelists/source', '/codelists/classification', '/codelists/logicalstatus', '/codelists/source' and '/codelists'</li>
    <li>Changes to return all LPIs for UPRNs</li>
    <li>Return only the AddressBase classificationCode</li>
    <li>Bug fix to prevent incorrect display of Historic records</li>
    <li>Various performance updates and code improvements</li>
</ul>

<h3 class="neptune">3 October 2018</h3>
<ul>
    <li>Inclusion of classificationFilter and lpiLogicalStatus in concise output</li>
</ul>

<h3 class="neptune">2 October 2018</h3>
<ul>
    <li>Update to use Address Base Epoch 60</li>
</ul>


<h2 class="saturn">Future Updates</h2>

<ul>
    <li>April 2019: Update to use Address Base Epoch 65</li>
</ul>

{% endblock %}