{% extends "base.html" %}

{% block title %}Timeline of Updates{% endblock %}

{% block content %}

<h1 class="jupiter">Timeline of Updates</h1>

<h2 class="saturn">Recent Updates</h2>

<h3 class="neptune">April 2021</h3>
<ul>
    <li>New bulk manager service released </li>
</ul>

<h3 class="neptune">March 2022</h3>
<ul>
    <li>New GCP hosted UI released, based on the old on-prem UI</li>
    <li>On prem service to be terminated</li>
</ul>

<h3 class="neptune">November 2021</h3>
<ul>
    <li>Work on AIMS2, with new Natual Language Processing Algorithm started</li>
    <li>AIMS2 initally bulk match only, using RDMF source, to be available inside IDP</li>
</ul>

<h3 class="neptune">October 2021</h3>
<ul>
    <li>New general purpose version of AIMS, hosted on GCP, released</li>
    <li>Will continue to use ABP rather than RDMF for now</li>
</ul>

<h3 class="neptune"> March 2021</h3>
<ul>
    <li>AIMS API goes live for the UK Census - capable of scaling to 4,000 requests per second.</li>
</ul>


{% endblock %}