{% extends "base.html" %}

{% block title %}Timeline of Updates{% endblock %}

{% block content %}

<h1 class="jupiter">Timeline of Updates</h1>

<h2 class="saturn">Recent Updates</h2>

<h3 class="neptune">October 2021</h3>
<ul>
    <li>Work on the new general purpose version of AIMS commences, to be available on the IDS platform</li>
    <li>Data updated to Addressbase Premium Epoch 85</li>
</ul>

<h3 class="neptune"> March 2021</h3>
<ul>
    <li>AIMS API goes live for the UK Census - capable of scaling to 4,000 requests per second.</li>
</ul>


{% endblock %}