{% extends "base.html" %}

{% block title %}Postcode{% endblock %}

{% block content %}

<h1 class="jupiter">{% block endpoint_page_title %}{% endblock %}</h1>

<p>{{ swaggerJson.paths[endpoint]["get"]["description"] }}</p>

<h2 class="saturn">Request</h2>

<p><code>GET {{ api_url }}{{ endpoint }}</code></p>

<h3 class="neptune">Query parameters</h3>

<table class="table">
    <thead class="table--head">
        <th scope="col" class="table--header--cell">Parameter name</th>
        <th scope="col" class="table--header--cell">Value</th>
        <th scope="col" class="table--header--cell">Description</th>
        <th scope="col" class="table--header--cell">Additional</th>
    </thead>
    <tbody>

    {% for singleParameter in swaggerJson.paths[endpoint]["get"]["parameters"] %}
        {% if singleParameter.in == "query" %}
        <tr class="table--row">
            <td class="table--cell">{{ singleParameter.name }}</td>
            <td class="table--cell">{{ singleParameter.type }}</td>
            <td class="table--cell">{{ singleParameter.description }}</td>
            <td class="table--cell">
                {% if singleParameter.required == False %}Optional{% else %}Required{% endif %}
                {% if singleParameter.default or singleParameter.default == False %}<br>Default: {{ singleParameter.default }}{% endif %}
                {% if singleParameter.maximum or singleParameter.maximum == False %}<br>Maximum: {{ singleParameter.maximum }}{% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}



    </tbody>
</table>

<h3 class="neptune">Request headers</h3>

{% block endpoint_request_headers %}<p>This method does not require specific header parameters.</p>{% endblock %}

<h3 class="neptune">Request body</h3>

{% block endpoint_request_body %}<p>This method does not take any request body parameters.</p>{% endblock %}

<h3 class="neptune">Authentication</h3>

{% block endpoint_authentication %}<p>Not required.</p>{% endblock %}

<h2 class="saturn">Response</h2>

<h3>Response headers</h3>

{% block endpoint_response_headers %}<p>This method does not return specific response headers.</p>{% endblock %}

<h3>Response body</h3>

{% block endpoint_response_body %}<p>If successful, this method returns a CompanySearch resource in the body.</p>{% endblock %}

<h3>Status codes</h3>

{% block endpoint_status_codes %}<p>None.</p>{% endblock %}

<h2>CURL example</h2>

<p><code>curl -uYOUR_APIKEY_FOLLOWED_BY_A_COLON: {{ api_url }}{{ endpoint }}</code></p>

<h2>Explore this API</h2>


<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}

    <table class="table">
        <tbody>
        {% for singleParameter in swaggerJson.paths[endpoint]["get"]["parameters"] %}
        <tr class="table--row">
            <td class="table--cell">{{ singleParameter.name }}</td>
            <td class="table--cell"><input name="{{ singleParameter.name }}" class="input input--text" id="{{ singleParameter.name }}" type="text" value=""></td>
            <td class="table--cell">{{ singleParameter.description }}</td>
        </tr>
        {% endfor %}
        <tr class="table--row">
            <td class="table--cell" colspan="3">{{ form.submit(class_='btn') }}</td>
        </tr>
        </tbody>
    </table>

</form>

<pre>{{ results }}</pre>



{% endblock %}

