{% extends "base.html" %}

{% block title %}Postcode{% endblock %}

{% block content %}

<h1 class="jupiter">{% block endpoint_page_title %}{% endblock %}</h1>

<p>{{ swaggerJson.paths[endpoint]["get"]["description"] }}</p>

<h2 class="saturn">Request</h2>

<p class="documentation"><code>GET #API_URL#{{ endpoint }}</code></p>

<h3 class="neptune">Query parameters</h3>

<table class="table">
    <thead class="table--head">
        <th scope="col" class="table--header--cell">Parameter name</th>
        <th scope="col" class="table--header--cell">Value</th>
        <th scope="col" class="table--header--cell">Description</th>
        <th scope="col" class="table--header--cell">Additional</th>
    </thead>
    <tbody>

    {% for singleParameter in swaggerJson.paths[endpoint]["get"]["parameters"] %}
        {% if singleParameter.in == "query" %}
        <tr class="table--row">
            <td class="table--cell">{{ singleParameter.name }}</td>
            <td class="table--cell">{{ singleParameter.type }}</td>
            <td class="table--cell">{{ singleParameter.description }}</td>
            <td class="table--cell">
                {% if singleParameter.required == False %}Optional{% else %}Required{% endif %}
                {% if singleParameter.default or singleParameter.default == False %}<br>Default: {{ singleParameter.default }}{% endif %}
                {% if singleParameter.maximum or singleParameter.maximum == False %}<br>Maximum: {{ singleParameter.maximum }}{% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}



    </tbody>
</table>


<h2 class="saturn">Responses</h2>

{% for responseCode, responseValue in swaggerJson.paths[endpoint]["get"]["responses"].items() %}
    <h3 class="neptune">{{responseCode}}</h3>
    <p>{{responseValue["description"]}}</p>
{% endfor %}


<h2 class="saturn">CURL example</h2>

<div class="markdown">
    <pre><code>curl -uYOUR_APIKEY_FOLLOWED_BY_A_COLON: #API_URL#{{ endpoint }}</code></pre>
</div>


<h2 class="saturn">Explore this API</h2>


<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}

    <table class="table">
        <tbody>
        {% for singleParameter in swaggerJson.paths[endpoint]["get"]["parameters"] %}
        <tr class="table--row">
            <td class="table--cell">{{ singleParameter.name }}</td>
            <td class="table--cell"><input name="{{ singleParameter.name }}" class="input input--text" id="{{ singleParameter.name }}" type="text" value=""></td>
            <td class="table--cell">{{ singleParameter.description }}</td>
        </tr>
        {% endfor %}
        <tr class="table--row">
            <td class="table--cell" colspan="3">{{ form.submit(class_='btn') }}</td>
        </tr>
        </tbody>
    </table>

</form>

{% if results %}

<div class="markdown">
    <pre><code>{{ results }}</code></pre>
</div>

{% endif %}


{% endblock %}

