{% extends "base.html" %}

{% block title %}Quick Start{% endblock %}

{% block content %}
<h1 class="jupiter">Quick Start</h1>

<h2 class="saturn">Quick start steps</h2>

<ol>
    <li>Request an Address Index account</li>
    <li>Explore the Companies House API</li>
</ol>

<h3 class="venus">Request an Address Index account</h3>

<p>To be able to explore and perform tests with the Companies House API, you need to request an API key for use in each API request.</p>

<h3 class="venus">Explore the API</h3>

<p>Each Address Index API reference page contains an embedded "explorer" that allows the reader to try out the service in-situ, without having to write any client code at all.</p>

{% endblock %}
