{% extends "base.html" %}

{% block title %}Single Match Search{% endblock %}

{% block content %}
<h1 class="jupiter">Single Match Search</h1>

<h2 class="saturn">Search Address Index</h2>

<div class="documentation">

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell" style="width:20%;">Method</th>
        <th scope="col" class="table--header--cell" style="width:40%;">HTTP Request</th>
        <th scope="col" class="table--header--cell">Description</th>
        </thead>
        <tbody>

        <tr class="table--row">
            <td class="table--cell"><a href="{{ url_for('single_address') }}">Address Search</a></td>
            <td class="table--cell"><code>GET /addresses</code></td>
            <td class="table--cell">Search for addresses</td>
        </tr>

        </tbody>
    </table>

    <h2 class="saturn">Search Address Index by UPRN</h2>

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell" style="width:20%;">Method</th>
        <th scope="col" class="table--header--cell" style="width:40%;">HTTP Request</th>
        <th scope="col" class="table--header--cell">Description</th>
        </thead>
        <tbody>

        <tr class="table--row">
            <td class="table--cell"><a href="{{ url_for('uprn') }}">UPRN Search</a></td>
            <td class="table--cell"><code>GET /addresses/uprn</code></td>
            <td class="table--cell">Search for address by UPRN</td>
        </tr>

        </tbody>
    </table>

    <h2 class="saturn">Search Address Index by Postcode</h2>

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell" style="width:20%;">Method</th>
        <th scope="col" class="table--header--cell" style="width:40%;">HTTP Request</th>
        <th scope="col" class="table--header--cell">Description</th>
        </thead>
        <tbody>
        <tr class="table--row">
            <td class="table--cell"><a href="{{ url_for('postcode') }}">Postcode Search</a></td>
            <td class="table--cell"><code>GET /addresses/postcode</code></td>
            <td class="table--cell">Search for addresses by postcode</td>
        </tr>

        </tbody>
    </table>

    <h2 class="saturn">Search Address Index by partial match</h2>

    <table class="table">
        <thead class="table--head">
        <th scope="col" class="table--header--cell" style="width:20%;">Method</th>
        <th scope="col" class="table--header--cell" style="width:40%;">HTTP Request</th>
        <th scope="col" class="table--header--cell">Description</th>
        </thead>
        <tbody>
        <tr class="table--row">
            <td class="table--cell"><a href="{{ url_for('partial') }}">Partial Search</a></td>
            <td class="table--cell"><code>GET /addresses/partial</code></td>
            <td class="table--cell">Search for addresses by partial search term</td>
        </tr>

        </tbody>
    </table>

</div>

{% endblock %}
