{% extends "base.html" %}

{% block title %}Timeline of Updates{% endblock %}

{% block content %}

<h1 class="jupiter">Timeline of Updates</h1>

<h2 class="saturn">Recent Updates</h2>
<ul>
    <li>3 October 2018: Inclusion of classificationFilter and lpiLogicalStatus in concise output</li>
    <li>2 October 2018: Update to use Address Base Epoch 60</li>
    <li>21 September 2018: Performance improvements to the 'partial' endpoint</li>
    <li>31 August 2018: Introduction of concise output format as default for api responses</li>
</ul>


<h2 class="saturn">Future Updates</h2>

<ul>
    <li>Mid October 2018: Launch of internal Developer site</li>
    <li>Mid November 2018: Update to use Address Base Epoch 61</li>
    <li>Mid January 2019: Update to use Address Base Epoch 62</li>
</ul>

{% endblock %}